@model canteen.Models.Bill

@{
    ViewBag.Title = "Delete";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Canteen Văn Lang</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="~/Areas/Admin/Content/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/Areas/Admin/Content/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="~/Areas/Admin/Content/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="~/Areas/Admin/Content/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="~/Areas/Admin/Content/css/custom.css">
<script src="https://kit.fontawesome.com/ab8492bfc3.js" crossorigin="anonymous"></script>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }



        .pagination .active {
            background: #d65106;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
</style>

<h2>Xóa hóa đơn</h2>

<h3>Bạn có chắc muốn xóa hóa đơn này?</h3>
<div>
    <h4>Hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã món ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_ID)
        </dd>

        <dt>
            Thời gian nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Email khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
